
h1 {
    color: white;
    font-family:'Baloo 2', cursive;
    font-size: 80px;
    background-color: #1E3E62;
}
p {
    text-align: justify;
    font-family: 'Delius', cursive;
    margin: 10px 80px;
    font-size: 20px;
}

h2{
    color: #170C79;
    font-family: ´'Comfortaa', sans-serif;
    margin: 10px 80px;
    font-size: 40px;
}

h3 { 
    color:#294669;
    font-family: 'Fredoka', sans-serif;
    margin: 10px 80px;
    font-size: 25px;
}
h4 { 
    color:#294669;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px 0px;
    font-size: 20px;
}
li {
    color: #170C79;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px 80px;
    font-size: 20px;
}
footer {
    text-align: center;
    background-color: #DFF1F1;;
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px 200px;
}
header{ 
    background-color: #F7F8F0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px 90px;

}
body { 
    background-color: #F7F8F0;
}
table{
    margin: 10px 100px;
    background-color: #7AB2B2;
}
th{
    border: 2px solid #355872;
    background-color: #B4D3D9;
}
td{
    border: 2px solid #355872;
    background-color: #DFF1F1;
}

footer{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    height: 210px;
    width: 1500px;
    margin: -10px;
    padding-top: 10px;
    border: 0px;
}

.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 850px;
    justify-content: center;
    align-items:center;
    align-content: center;
}

.box{
    border: 3px solid #355872;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    margin: 15px;
    width: 250px;
    height: 818px;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #7EACB5;
}

.box p{
    text-align: center;
    word-break: normal;
    overflow-wrap: break-word;
    line-height: 1.5;
    width: 100%;
    margin: 0;
}

.box h3{
    text-align: center;
    margin: 0;
    background-color: white;
    border: 5px solid #355872;
}

a{
    color: #018790
}

.img-alinear {
    width: 350px;
    height: 250px;
    margin: 10px;
    padding: 5px;
    border: 5px solid #294669;

}
section .container{
    display: flex;
    justify-content: center;
    margin: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

}
section .seccion{
    display: flex;
    justify-content: center;
    margin: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    gap:30px;
    
}

section .seccion2{
    display: flex;
    justify-content: center;
    margin: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    gap:30px;
    
}

section .seccion3{
    display: flex;
    justify-content: center;
    margin: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    gap:30px;
    
}
section .seccion4{
    display: flex;
    justify-content: center;
    margin: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    gap:30px;
    
}

.seccion img{
    width: 250px;
    height: 250px;
    margin-left: 80px;
    border: 5px solid #355872;
    padding: 5px;
}
section p{
    margin-left: 10px;
}
.texto{
    flex:1;
}

button{
    background-color: #7EACB5;
    font-size: 20px;
    border: 2px solid #170C79;
    cursor:pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 25px;
}
.btn{
    display: flex;
    flex-direction: row;
    height: 10px;
    padding: 10px 10px;
    margin: 20px;
    justify-content: space-between;
    align-items:center;
    align-content: center;
}
.botoncito{
    display: flex;
    flex-direction: row;
    height: 10px;
    padding: 10px 10px;
    margin: 20px;
    justify-content: space-evenly;
    align-items:center;
    align-content: center;
}

input{
    background-color: #7EACB5;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    padding: 5px;
    border: 2px solid black;
    border-radius: 25px;

}
textarea{
    background-color: #7EACB5;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    padding: 20px;
    width: 80%;
    border: 2px solid black;
    border-radius: 25px;
}
form button{
    background-color: #355872;
    font-size: 20px;
    border: 2px solid black;
    cursor:pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin-left: 1000px;
}
fieldset{
    margin: 100px;
    font-family: cursive;
    font-size: 30px;

}
form{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

form input:focus{
    border: 3px solid #285A48;
    outline: none;

}
form textarea:focus{
    border: 3px solid #285A48;
    outline: none;
    
}
.galeria{
    margin-left: 240px;
}
.controles{
    margin-top:20px;
    margin-bottom:20px;

}
.logo{
    padding: -10px;
    border: 0px; 
    margin-left: 150px; 
    width: 200px
}
.pie{
    display: flex;
    justify-content: space-between; 
}
.textpie{
    padding: 70px;
    margin-right: 90px;
}
.marca{
    border:0 px;
}